# Ex2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

### Step 3. Assign it to a variable called euro12.

In [2]:
euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv', sep = ',')
euro12.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

### Step 4. Select only the Goal column.

In [7]:
euro12.Goals

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

### Step 5. How many team participated in the Euro2012?

In [8]:
len(euro12.Team)

16

### Step 6. What is the number of columns in the dataset?

In [9]:
len(euro12.columns)

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [11]:
discipline = pd.DataFrame(euro12, columns=['Team', 'Yellow Cards', 'Red Cards'])
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [14]:
discipline.sort_values(['Red Cards', 'Yellow Cards'], ascending = False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

### Step 9. Calculate the mean Yellow Cards given per Team

In [17]:
discipline['Yellow Cards'].mean()

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [19]:
goal_mask = euro12['Goals'] > 5
euro12[goal_mask]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

### Step 11. Select the teams that start with G

In [37]:
letter_mask = euro12['Team'].apply(lambda x: x.startswith('G'))
euro12[['Hit Woodwork','Offsides']][letter_mask]

   Hit Woodwork  Offsides
5             2        12
6             1        12

In [36]:
euro12[['Offsides','Goals']] # pass column names as list

    Offsides  Goals
0          2      4
1          8      4
2          8      4
3          6      5
4          5      3
5         12     10
6         12      5
7         16      6
8          3      2
9          3      2
10        10      6
11        11      1
12         4      5
13        19     12
14         7      5
15         4      2

### Step 12. Select the first 7 columns

##### because "euro12.columns[:7]" returns an index object, you can pass it to the Df to pick values

In [43]:
euro12[euro12.columns[:7]] #because "euro12.columns[:7]" returns an index object, you can pass it to the Df to pick values

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

### Step 13. Select all columns except the last 3.

In [45]:
euro12[euro12.columns[:31]]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,NaN,0,10,3,13,81.3%,41,62,2,9
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,2.0,1,10,6,9,60.1%,53,73,8,7
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,0.0,1,10,5,10,66.7%,25,38,8,4
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,1.0,2,29,3,22,88.1%,43,45,6,5
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,0.0,1,7,5,6,54.6%,36,51,5,6
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,0.0,1,11,6,10,62.6%,63,49,12,4
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,0.0,1,23,7,13,65.1%,67,48,12,9
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,1.0,2,18,7,20,74.1%,101,89,16,16
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0.0,0,9,5,12,70.6%,35,30,3,5
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0.0,0,8,3,6,66.7%,48,56,3,7
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,0.0,2,11,4,10,71.5%,73,90,10,12
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,1.0,0,23,9,17,65.4%,43,51,11,6
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0.0,0,8,3,10,77.0%,34,43,4,6
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,0.0,5,8,1,15,93.8%,102,83,19,11
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,0.0,1,12,5,8,61.6%,35,51,7,7
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0.0,0,4,4,13,76.5%,48,31,4,5

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [54]:
mask = (euro12['Team'] == 'England') | (euro12['Team'] == 'Italy') | (euro12['Team'] =='Russia')

In [55]:
euro12[['Team','Shooting Accuracy']][mask]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

In [56]:
emptylist1 = list()
emptylist1.append(9)
emptylist1.append(10)
emptylist1

[9, 10]

In [61]:
emptylist2 = []
emptylist2.extend(['a', 'b', 'c'])
emptylist2

['a', 'b', 'c']

In [63]:
emptylist2.pop(len(emptylist2)-1)

'c'

In [60]:
emptylist2

['a', 'b']

In [109]:
k = [3, 4, 5, 6, 7, 8, 9]
k[:]

[3, 4, 5, 6, 7, 8, 9]

In [66]:
k = [3, 4, 5, 6, 7, 8, 9]
k[1::2]

[4, 6, 8]

In [67]:
b1 = b'Copyright \xc2\xa9'
b1

b'Copyright \xc2\xa9'

In [68]:
type(b1)

bytes

In [111]:
max('Infinity')

'y'

In [84]:
k1 = list(range(100,0,-5))

In [85]:
k1

[100,
 95,
 90,
 85,
 80,
 75,
 70,
 65,
 60,
 55,
 50,
 45,
 40,
 35,
 30,
 25,
 20,
 15,
 10,
 5]

In [93]:
s = 'tata consultancy services'
count = 0
vowels = ['a', 'e', 'i', 'o', 'u']
x = 0
while x < len(s):
    if s[x] in vowels:
        count += 1
    x += 1
    
print(count)

8

In [97]:
s = 'tata consultancy services'
count = 0
vowels = ['a', 'e', 'i', 'o', 'u']
for x in s:
    if x in vowels:
        count += 1
print(count)

8

In [98]:
info1 = 'Infinity'
info1.find('a')

-1

In [99]:
bool(0)

False

In [100]:
bool(3)

True

In [108]:
x =5.3
y = 5.6
x|y

TypeError: unsupported operand type(s) for |: 'float' and 'float'

In [106]:
for x in (2,20,200)
     print (x)"

SyntaxError: invalid syntax (<ipython-input-106-b310d7187e34>, line 1)

In [114]:
print(list(range(4)))

[0, 1, 2, 3]

In [121]:
a = 10
b = 3.14
s = 'Hello'
x = True
print(dir())

['In', 'Out', '_', '_10', '_100', '_103', '_104', '_107', '_109', '_11', '_110', '_111', '_116', '_12', '_13', '_14', '_15', '_16', '_17', '_19', '_2', '_22', '_24', '_26', '_27', '_28', '_29', '_3', '_30', '_31', '_35', '_36', '_37', '_38', '_39', '_40', '_41', '_42', '_43', '_44', '_45', '_5', '_52', '_53', '_55', '_56', '_58', '_6', '_60', '_61', '_63', '_64', '_65', '_66', '_67', '_68', '_69', '_7', '_71', '_74', '_76', '_78', '_8', '_81', '_83', '_85', '_9', '_98', '_99', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i100', '_i101', '_i102', '_i103', '_i104', '_i105', '_i106', '_i107', '_i108', '_i109', '_i11', '_i110', '_i111', '_i112', '_i113', '_i114', '_i115', '_i116', '_i117', '_i118', '_i119', '_i12', '_i120', '_i121', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i44', '_i45', '_i46', '_i47', '_i48', '_i49', '_i5', '_i50', '_i51', '_i52', '_i53', '_i54', '_i55', '_i56', '_i57', '_i58', '_i59', '_i6', '_i60', '_i61', '_i62', '_i63', '_i64', '_i65', '_i66', '_i67', '_i68', '_i69', '_i7', '_i70', '_i71', '_i72', '_i73', '_i74', '_i75', '_i76', '_i77', '_i78', '_i79', '_i8', '_i80', '_i81', '_i82', '_i83', '_i84', '_i85', '_i86', '_i87', '_i88', '_i89', '_i9', '_i90', '_i91', '_i92', '_i93', '_i94', '_i95', '_i96', '_i97', '_i98', '_i99', '_ih', '_ii', '_iii', '_oh', 'a', 'b', 'b1', 'count', 'discipline', 'emptylist1', 'emptylist2', 'euro12', 'exit', 'get_ipython', 'goal_mask', 'info1', 'k', 'k1', 'letter_mask', 'mask', 'np', 'pd', 'quit', 's', 'team', 'vowels', 'x', 'y']

In [123]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.