In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from scipy import stats

C:\Users\v-haabhi\AppData\Local\Continuum\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\v-haabhi\AppData\Local\Continuum\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\v-haabhi\AppData\Local\Continuum\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\v-haabhi\AppData\Local\Continuum\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\v-haabhi\AppData\Local\Continuum\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
pol_data = pd.read_csv('pollination.csv')

In [3]:
pol_data

      Group  Fruit_Wt  Seed_Yield_Plant  Seedling_length
0   Natural      1.85            147.70            16.86
1   Natural      1.86            136.86            16.77
2   Natural      1.83            149.97            16.35
3   Natural      1.89            172.33            18.26
4   Natural      1.80            144.46            17.90
5   Natural      1.88            138.30            16.95
6   Natural      1.89            150.58            18.15
7   Natural      1.79            140.99            18.86
8   Natural      1.85            140.57            18.39
9   Natural      1.84            138.33            18.58
10     Hand      2.58            224.26            18.18
11     Hand      2.74            197.50            18.07
12     Hand      2.58            230.34            19.07
13     Hand      2.62            217.05            19.00
14     Hand      2.68            233.84            18.00
15     Hand      2.56            216.52            18.49
16     Hand      2.34            211.93            17.45
17     Hand      2.67            210.37            18.97
18     Hand      2.45            199.87            19.31
19     Hand      2.44            214.30            19.36

In [7]:
fruit_wt = pol_data[['Group', 'Fruit_Wt']]
Seed_Yeild = pol_data[['Group', 'Seed_Yield_Plant']]
Seedling_Lenght = pol_data[['Group', 'Seedling_length']]

In [11]:
Seed_Yeild.describe()

       Seed_Yield_Plant
count         20.000000
mean         180.803500
std           37.311011
min          136.860000
25%          143.592500
50%          184.915000
75%          214.855000
max          233.840000

# Is the overall population of Seed yield/plant (g) equals to 200?

We do the hypothesis test on the sample to check if the mean Seed yeild/plant for the population is equal to 200.

> Assume H0:- Mean = 200

>       H1:- Mean != 200

Sample mean given by:-

In [13]:
Seed_Yeild.Seed_Yield_Plant.mean()

180.8035

Hypthesised Population mean is 200

We do the t-test as sample size is small and population variance is also not known.

In [17]:
stats.ttest_1samp(Seed_Yeild["Seed_Yield_Plant"], popmean=200)

Ttest_1sampResult(statistic=-2.3009121248548645, pvalue=0.032891040921283025)

We see that the p-value is 0.033 which is less than 0.05 and so we reject the null hypothesis. Hence we can say that at 95% significance level, the population mean of seed_yeild/plant is not equal to 200