In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
from scipy import stats

In [2]:
data = pd.read_csv('dietstudy.csv')

In [3]:
data

    patid  age  gender  tg0  tg1  tg2  tg3  tg4  wgt0  wgt1  wgt2  wgt3  wgt4
0       1   45    Male  180  148  106  113  100   198   196   193   188   192
1       2   56    Male  139   94  119   75   92   237   233   232   228   225
2       3   50    Male  152  185   86  149  118   233   231   229   228   226
3       4   46  Female  112  145  136  149   82   179   181   177   174   172
4       5   64    Male  156  104  157   79   97   219   217   215   213   214
5       6   49  Female  167  138   88  107  171   169   166   165   162   161
6       7   63    Male  138  132  146  143  132   222   219   215   215   210
7       8   63  Female  160  128  150  118  123   167   167   166   162   161
8       9   52    Male  107  120  129  195  174   199   200   196   196   193
9      10   45    Male  156  103  126  135   92   233   229   229   229   226
10     11   61  Female   94  144  114  114  121   179   181   176   173   173
11     12   49  Female  107   93  156  148  150   158   153   155   155   154
12     13   61  Female  145  107  129   86  159   157   151   150   145   143
13     14   59    Male  186  142  128  122  101   216   213   210   210   206
14     15   52    Male  112  107  103   89  148   257   255   254   252   249
15     16   60  Female  104  103  117   79  130   151   146   144   144   140

In [4]:
data_1 = data[data.columns[:4]]

In [5]:
data.columns

Index(['patid', 'age', 'gender', 'tg0', 'tg1', 'tg2', 'tg3', 'tg4', 'wgt0',
       'wgt1', 'wgt2', 'wgt3', 'wgt4'],
      dtype='object')

SyntaxError: invalid syntax (<ipython-input-6-ed2bf0e50f4e>, line 1)

In [7]:
data_1['tg4'] = data.loc[:,['tg4']]

C:\Users\v-haabhi\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
data_1.head()

   patid  age  gender  tg0  tg4
0      1   45    Male  180  100
1      2   56    Male  139   92
2      3   50    Male  152  118
3      4   46  Female  112   82
4      5   64    Male  156   97

In [9]:
data_tg = data[['tg0','tg4']]

In [10]:
data_tg

    tg0  tg4
0   180  100
1   139   92
2   152  118
3   112   82
4   156   97
5   167  171
6   138  132
7   160  123
8   107  174
9   156   92
10   94  121
11  107  150
12  145  159
13  186  101
14  112  148
15  104  130

In [11]:
data_tg['Diff'] = data_tg['tg0'] - data_tg['tg4']

C:\Users\v-haabhi\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
data_tg

    tg0  tg4  Diff
0   180  100    80
1   139   92    47
2   152  118    34
3   112   82    30
4   156   97    59
5   167  171    -4
6   138  132     6
7   160  123    37
8   107  174   -67
9   156   92    64
10   94  121   -27
11  107  150   -43
12  145  159   -14
13  186  101    85
14  112  148   -36
15  104  130   -26

In [13]:
data_tg['Diff'].mean()

14.0625

In [14]:
Before_tg = data_tg.tg0.to_numpy()

In [15]:
Before_tg

array([180, 139, 152, 112, 156, 167, 138, 160, 107, 156,  94, 107, 145,
       186, 112, 104], dtype=int64)

In [16]:
After_tg = data_tg.tg4.to_numpy()

In [17]:
After_tg

array([100,  92, 118,  82,  97, 171, 132, 123, 174,  92, 121, 150, 159,
       101, 148, 130], dtype=int64)

**This is case of Dependent Samples with unknwon pop variances. Hence, we will be doing 2-sided t-tests using scipy.stats.ttest_rel()**

H0:- Mu-Diff[Before-After] <= 0

H1:- Mu-Diff[Before-After] > 0

In [22]:
stats.ttest_rel(Before_tg, After_tg)

Ttest_relResult(statistic=1.2000008533342437, pvalue=0.24874946576903698)

In [23]:
stats.ttest_rel(data['tg0'], data['tg4'])

Ttest_relResult(statistic=1.2000008533342437, pvalue=0.24874946576903698)

In [24]:
stats.ttest_rel(data['wgt0'], data['wgt4'])

Ttest_relResult(statistic=11.174521688532522, pvalue=1.137689414996614e-08)

**We can therefore see that the average difference of weight before and after the program is statistically significant to state that the diet program helps to decrease weight for the population as well**

**Whereas, the average difference of triglyceride levels before and after the program is not statiscally significant to state that the programs helps to decrease the triglyceride levels in the population**